.title {
    margin-top: 50px;
    font-family: 'Permanent Marker', cursive;
}

.container {
display: flex;
justify-content: center;
padding: 5%; 
width: 80%;  
}

#image {
   margin-left: 45px;
    text-align: center;
    display: inline-block;
}

img {
    border: 5px solid white;
    margin: 15px;
    width: 350px;
    height: 500px;
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(0%); /* FF 35+ */
}

img:hover {
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%); /* FF 35+ */
  }

#aboutme-text {
    display: inline-block;
    font-weight: 500;
}